[Unit]
Description=AGL Window Manager
Requires=dbus.service
ConditionKernelCommandLine=!agl.nogfx

[Service]
User=root
Type=dbus
BusName=org.agl.windowmanager
ExecStart=/usr/AGL/HomeScreen/WindowManager
Restart=on-failure
RestartSec=5
StandardOutput=tty

[Install]
WantedBy=default.target

